.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 30px;
}
.container{
  background-color: rgba(0, 0, 0, 0.66)!important;
}


.mat-toolbar-row, .mat-toolbar-single-row {
  height: 35px;
  display: block;
  padding-right: 40px;
  padding-left: 50px;
  background-color: #161a21;
  color: rgb(255, 165, 0);
  padding-top: 4px;
}

.saveBtn{
  font-size: 20px;
  color: rgb(255, 165, 0);
  cursor: pointer;
}

.general-tools-btn{
  margin: auto 15px auto;
}

.general-tools-btn .measure-menu{
  margin: auto 6px auto;
}

.measure-selected{
  font-size: 14px;
}
.enable{
  color: #d0271b !important;
 }


::ng-deep.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}
::ng-deep.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
::ng-deep.tooltip-static {
  background-color: rgb(255, 165, 0);
  color: black;
  border: 1px solid white;
}
::ng-deep.tooltip-measure:before,
::ng-deep.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
::ng-deep.tooltip-static:before {
  border-top-color: rgb(255, 165, 0);
}


::ng-deep.cdk-overlay-connected-position-bounding-box{
  direction: ltr;
}


.edit-feature-btn{
  background-color: rgba(254,255,203,0);
  border: 0;
}

button.mat-menu-item:focus{
   outline: 0;
   outline: 0;
}
