<lib-fava-login url="http://192.168.1.7:8080/Fackur/security/login" (confirm)="confirmEvent($event)"></lib-fava-login>
<!-- 
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-4 col-sm-4 align-items-center no-float center-block master-search-wrap"> -->

      <!-- <h2 class="master-header">ورود</h2> -->
      <!-- <mat-card>
        <form [formGroup]="form" (ngSubmit)="login()">
          <mat-form-field class="col-12">
            <input matInput type="text" placeholder="نام کاربری" formControlName="email" />
          </mat-form-field>
          <mat-form-field class="col-12">
            <input matInput type="password" placeholder="رمز عبور" formControlName="password" />
          </mat-form-field>
          <hr>
          <button mat-raised-button type="submit" color="primary">ورود</button>
        </form>
      </mat-card> -->
    <!-- </div>
  </div>
</div> -->
