<i class="fa fa-window-close " size="3x" mat-raised-button (click)="onNoClick()">&nbsp;</i>
<mat-card>
  <mat-card-header>
    <mat-card-title class="newsSubject">
      <b>موضوع:{{data.newsData.subject}}</b>
    </mat-card-title>
  </mat-card-header>
  <mat-card-header>
    <mat-card-title>
      <!--<mat-expansion-panel *ngIf="data.type=='outbox'">-->
      <!--<mat-expansion-panel-header>-->
      <!--<mat-panel-title>-->
      گیرندگان
      <!--</mat-panel-title>-->
      <!--</mat-expansion-panel-header>-->
      <div class="font-size">
        <div *ngFor="let d of data.newsData.userNews">
          <div *ngIf="d.seen_time!=null && d.receiver_time!=null" class="seen">
            <p>
              {{d.receiver.firstname}} {{d.receiver.lastname}} {{usersService.getUserPosition(d.receiver.id)}} (زمان رسیدن به دست گیرنده:{{d.receiver_time|
              jalali}}) (زمان خواندن خبر:{{d.seen_time| jalali}})
            </p>
          </div>
          <div *ngIf="d.seen_time==null">
            <p>
              {{d.receiver.firstname}} {{d.receiver.lastname}} {{usersService.getUserPosition(d.receiver.id)}} (خوانده نشده)
            </p>
          </div>
        </div>
      </div>
      <!--</mat-expansion-panel>-->
      <div *ngIf="data.type=='inbox'" class="font-size">
        فرستنده:{{data.newsData.sender.firstname}} {{data.newsData.sender.lastname}} {{usersService.getUserPosition(data.newsData.sender.id)}}
      </div>
      <br>
      <mat-divider></mat-divider>
      <br>
    </mat-card-title>
    <mat-card-subtitle>
      <div *ngIf="data.type=='outbox'">
        <div>زمان ارسال:{{data.newsData.sender_time | jalali}}</div>
      </div>
      <div *ngIf="data.type=='inbox'"> 
        <div>زمان ارسال:{{data.newsData.sender_time | jalali}}</div>
        <!-- <div *ngIf="data.newsData.receiver_time!=null">زمان رسیدن به دست گیرنده:{{data.newsData.receiver_time | jalali}}</div>
        <div *ngIf="data.newsData.seen_time!=null">زمان خواندن خبر:{{data.newsData.seen_time | jalali}}</div>
        <div *ngIf="data.newsData.seen_time==null">زمان خواندن خبر: خوانده نشده</div> -->
      </div>
    </mat-card-subtitle>
    <mat-card-subtitle>
      منبع: {{data.newsData.sourceNews.name}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      اهمیت: {{data.newsData.importantNews.name}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      فوریت: {{data.newsData.urgentNews.name}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      طبقه بندی: {{data.newsData.archiveNews.name}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content class="html-binder">
    <div >متن خبر:
      <!-- <h6 [innerHTML]="data.newsData.text"></h6> -->
      <quill-editor
      [modules]='{toolbar: false}'
       [readOnly]="true"
       [style]="{height: '150px'}"
        dir="rtl"
         [(ngModel)]="data.newsData.text"
      >
        </quill-editor>
    </div>
    <div *ngIf="data.newsData.localAttachment">الصاقیات:
      <div *ngFor="let localAttachment of data.newsData.localAttachment ">
        <a target="blank" href="{{downloadBaseUrl + localAttachment}}">{{localAttachment}}</a>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>