<!--<div class="container">-->
  <!--<div class="row justify-content-center align-items-center">-->
    <!--<div class="col-lg-4 col-sm-4 align-items-center no-float center-block master-search-wrap">-->


      <mat-card >
        <mat-card-header>
          <mat-card-subtitle >

          </mat-card-subtitle>
        </mat-card-header>
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="center">

          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="نام کاربری" formControlName="username"/>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="رمز عبور" formControlName="password"/>
          </mat-form-field>
          <br>
          <button mat-raised-button type="submit" class="button" color="primary">ورود</button>

        </form>
        <mat-card-footer *ngIf="message != null || !missionService.hasAvticeMission.status">
          <p class="error">
            {{message}}
            {{missionService.hasAvticeMission.message}}
          </p>
        </mat-card-footer>
      </mat-card>

<!--<div id="map" class="map "></div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
